<turbo-stream action="append" target="info-zone">
  <template>
    <div class="notification is-danger">
      <button class="delete"></button>
      You cannot play this card !
    </div>
  </template>
</turbo-stream>