{% extends "base.html.twig" %}

{% block body %}

{% if games|length == 0 %}

pas de parties en cours

{% endif %}

<table>
{% for game in games %}
<tr>
  <td>{{game.name}}</td>
  <td>{{game.createdAt|date('Y-m-d H:i')}}</td>
  <td><a class='button' href="{{path('app_game_join', {id:game.id})}}">Join</a></td>
</tr>   
{% endfor %}
</table>
 
{% endblock %}