{% extends "base.html.twig" %}

{% block body %}

{{ form_start(form)}}
<div class="field">
  <label class="label">Nom</label>
  <div class="control">
    {{ form_widget(form.name) }}
  </div>
</div>
<button type='submit'>Créer</button>
{{ form_end(form)}}
 
{% endblock %}