<turbo-stream action="append" target="player-cards">
  <template>
    <div class="dropzone draggable-dropzone--occupied">
      <div class="item">
        ---{{ card }}---
      </div>
    </div> 
  </template>
</turbo-stream>

<turbo-stream action="remove" target="button-take-card-frame">
  
</turbo-stream>