{% extends "base.html.twig" %}

{% block body %}

<p> play game {{ game.name}}</p>

<p> Nb players <span id='nb-players'>{{ game.players | length}}</span></p>

<div data-controller="play-controller" data-play-controller-url-value="{{ mercure(['#play-'~ game.id]) }}">
  <!-- ... -->
</div>

{% endblock %}