<turbo-stream action="replace" target="trash-zone">
  <template>
    <div class="container">
      <div id='trash' class="dropzone trash">
        <!--<img src="{{ asset('build/images/trash.png')}}" />-->
      </div>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="info-zone">
  <template>
  </template>
</turbo-stream>