<turbo-stream action="replace" target="play-zone">
  <template>
   <div class="container">
      <div id='table' class="dropzone table"></div>
    </div>
    <div class="container">
      <div id='trash' class="dropzone trash">
        <img src="{{ asset('build/images/trash.png')}}" />
      </div>
    </div>
  </template>
</turbo-stream>