{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title is-1">Login</h1>
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="field">
            <label class="label">Email or username</label>
            <div class="control">
                <input class="input" type="text" id="username" name="_username" value="{{ last_username }}">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-right">
                <input class="input" type="password" id="password" name="_password" spellcheck="false" 
                {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {buttonClasses: ['toggle-password-button']} ) }}
                />
            </div>
        </div>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>    
{% endblock %}
